@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Colors */

    /* Primary */
    --color-blue-100: hsl(225deg 100% 94%);
    --color-blue-700: hsl(245deg 75% 52%);

    /* Neutral */
    --color-blue-50: hsl(225deg 100% 98%);
    --color-blue-950: hsl(223deg 47% 23%);
    --color-gray-600: hsl(224deg 23% 55%);

    /* Font */
    --font-size: 16px;
    --font-family: 'Red Hat Display';
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:is(html, body) {
    font-size: var(--font-size);
    font-family: var(--font-family), sans-serif;
    font-weight: var(--font-weight-500);
}